name: Selecionar o ambiente para iniciar a Pipeline
on: 
    workflow_dispatch:  
      inputs:
        ambiente:
          type: choice
          default: "aws"
          required: true
          description: "Ambiente aonde será feito o deploy"  
          options:
            - aws
            - azure
            - gcp 
jobs:
    CI:
        runs-on: ubuntu-latest
        steps:
            - name: Ambiete
              run: "echo Abiente selecionado : ${{ inputs.ambiente }}"   
              
    AWS:
      runs-on: ubuntu-latest 
      steps: 
      - name: Obtendo o código
        uses: actions/checkout@v4.1.5    
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1                 
      - name: select         
        uses: wallafi01/multiplos-providers/.github/workflows/1-aws-apply.yml@main
        with:
          ambiente: ${{ inputs.ambiente }}  
          
    AZURE:
      uses: wallafi01/multiplos-providers/.github/workflows/2-azure-cd.yml@main
      with:
        ambiente: ${{ inputs.ambiente }}              
    GCP:
      uses: wallafi01/multiplos-providers/.github/workflows/3-gcp-cd.yml@main
      with:
        ambiente: ${{ inputs.ambiente }}                      